snippet #!
	#!/usr/bin/env ${1:bash}
snippet vim
	# vim:${1:ft=zsh}:
snippet fname
	${1:`v:lua.vim.my.snippets.filename()`}${2}
snippet fname_camelcase
	${1:`v:lua.vim.my.snippets.filename('camelcase')`}${2}
