extends html

snippet e
options word
	<%= ${1} %>
endsnippet

snippet end
	<% end %>
endsnippet

snippet er
options word
	<% ${1} %>
endsnippet

snippet lt
options word
	<%= link_to ${1:name} %>
endsnippet
