extends javascript

snippet html
	<!DOCTYPE html>
	<html class='no-js' lang='en'>
		<head>
			<meta charset='utf-8'>
			<meta name='author' content='Kassio Borges'>

			<link rel='stylesheets' type='text/css' href='application.css'/>
		</head>
		<body>
			${0:${VISUAL}}
		</body>
	</html>
snippet t
	<${1:div${2: class='$3'}}>
		${0:${VISUAL}}
	</${1/(\w+).*/$1/}>
snippet ti
	<${1:span${2: class='$3'}}>${0:${VISUAL}}</${1/(\w+).*/$1/}>
snippet br
	<br />$1
