extends javascript-jquery, javascript-jasmine

snippet log
	console.log(${1});
endsnippet

snippet fn
options word
	function(${1}) {${2}}
endsnippet

snippet fun
	function ${1}(${2}) {
	  ${3}
	}
endsnippet
