snippet req
	require("${1:module}")
snippet ll
	local ${1:varName} = ${0:value}
snippet if
	if ${1:true} then
		${0:$VISUAL}
	end
snippet for
	for ${1:i} do
		${0:$VISUAL}
	end
snippet fun
	function${1: ${2:name}}($3)
		${0:$VISUAL}
	end
