snippet cont
	context '${1}' do
		${2}
	end
snippet desc
	describe ${1:name} do
		${2}
	end
snippet it
	it '${1}' do
		${2}
	end
snippet itb
	it { ${1} }
snippet feat
	feature '${1:name}' do
		${2}
	end
snippet let
	let(${1}) { ${2} }${3}
snippet scen
	scenario '${1}' do
		${2}
	end
