snippet anaf
	accepts_nested_attributes_for :${1:object}
snippet bt
	belongs_to :${1:association}
snippet habtm
	has_and_belongs_to_many :${1:object}
snippet hmany
	has_many :${1:object}
snippet hone
	has_one :${1:object}
snippet params
	params[:${1:id}]
