[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/ColorSelect"]
	path = bundle/ColorSelect
	url = git://github.com/kassio/ColorSelect.git
