[submodule "vim-pathogen"]
	path = vim-pathogen
  url = https://github.com/tpope/vim-pathogen.git
  ignore = untracked
[submodule "bundle/ColorSelect"]
	path = bundle/ColorSelect
	url = https://github.com/kassio/ColorSelect.git
  ignore = untracked
[submodule "bundle/rails"]
	path = bundle/rails
	url = https://github.com/tpope/vim-rails.git
  ignore = untracked
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
  ignore = untracked
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
  ignore = untracked
[submodule "bundle/scss-syntax"]
	path = bundle/scss-syntax
	url = https://github.com/cakebaker/scss-syntax.vim.git
  ignore = untracked
[submodule "snippets"]
	path = snippets
	url = https://github.com/kassio/snipmate-snippets.git
  ignore = untracked
[submodule "bundle/tabublar"]
	path = bundle/tabublar
	url = https://github.com/godlygeek/tabular.git
  ignore = untracked
[submodule "bundle/potwiki"]
	path = bundle/potwiki
	url = https://github.com/kassio/potwiki.vim.git
  ignore = untracked
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/akitaonrails/snipmate.vim.git
  ignore = untracked
[submodule "bundle/vim-l9"]
	path = bundle/vim-l9
	url = https://github.com/clones/vim-l9.git
  ignore = untracked
[submodule "bundle/vim-textile"]
	path = bundle/vim-textile
	url = https://github.com/kassio/textile.vim.git
  ignore = untracked
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
  ignore = untracked
[submodule "bundle/xoria256"]
	path = bundle/xoria256
	url = https://github.com/kassio/xoria256.vim.git
  ignore = untracked
[submodule "bundle/VisIncr"]
	path = bundle/VisIncr
	url = https://github.com/vim-scripts/VisIncr.git
  ignore = untracked
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
  ignore = untracked
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = https://github.com/mineiro/vim-latex.git
  ignore = untracked
[submodule "bundle/html5"]
	path = bundle/html5
	url = https://github.com/kassio/html5.vim.git
  ignore = untracked
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/kassio/nerdtree.git
  ignore = untracked
[submodule "bundle/color_highlight"]
	path = bundle/color_highlight
	url = https://github.com/chrisbra/color_highlight.git
  ignore = untracked
[submodule "bundle/javascrip-indent"]
	path = bundle/javascrip-indent
	url = https://github.com/vim-scripts/JavaScript-Indent.git
  ignore = untracked
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
  ignore = untracked
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
