extends html, elixir

snippet = "" w
<%= ${0:${VISUAL}} %>
endsnippet

snippet - "" w
<% ${0:${VISUAL}} %>
endsnippet

snippet end
<% end %>
endsnippet

snippet b
<% ${1:if $2} %>
  ${0:${VISUAL}}
<% end %>
endsnippet
