snippet def "" b
def ${1:name} do
  ${3}
end
endsnippet

snippet defp "" b
defp ${1:name} do
  ${3}
end
endsnippet

snippet defmo "" b
defmodule ${1:`!v user#snips#filename_camelized()`} do
  ${2}
end
endsnippet

snippet case ""
case ${1} do
  ${2} -> ${3}
  ${4}
end
endsnippet
