extends html

snippet "[e=]" "" ir
<%= ${0:${VISUAL}} %>
endsnippet

snippet "(er|-)" "" ir
<% ${0:${VISUAL}} %>
endsnippet

snippet end
<% end %>
endsnippet

snippet lt "" w
<%= link_to ${0:${VISUAL}} %>
endsnippet

snippet frame "" b
<% turbo_frame_tag ${1} do %>
  ${0:${VISUAL}}
<% end %>
endsnippet

snippet "(b|if)" "" rw
<% ${1:if $2} %>
  ${0:${VISUAL}}
<% end %>
endsnippet

snippet pa "" i
params[:${1:id}]
endsnippet
