snippet "[e=]" "" ir
<%= ${0:${VISUAL}} %>
endsnippet

snippet "(er|-)" "" ir
<% ${0:${VISUAL}} %>
endsnippet

snippet end
<% end %>
endsnippet

snippet lt "" w
<%= link_to ${0:${VISUAL}} %>
endsnippet

snippet "(b|if)" "" r
<% ${1:if $2} %>
  ${0:${VISUAL}}
<% end %>
endsnippet

snippet pa "" i
params[:${1:id}]
endsnippet

extends html
