extends html, ruby, ruby-rails

snippet e "" i
<%= ${0:${VISUAL}} %>
endsnippet

snippet = "" i
<%= ${0:${VISUAL}} %>
endsnippet

snippet er "" i
<% ${0:${VISUAL}} %>
endsnippet

snippet - "" i
<% ${0:${VISUAL}} %>
endsnippet

snippet end
<% end %>
endsnippet

snippet lt "" w
<%= link_to ${0:${VISUAL}} %>
endsnippet

snippet b
<% ${1:if $2} %>
  ${0:${VISUAL}}
<% end %>
endsnippet
