extends javascript-jasmine, javascript-react

snippet "deb(ug|ugger)?" "" r
debugger;
endsnippet

snippet log
console.log($1)
endsnippet

snippet af
(${1}) => ${2}
endsnippet

snippet "if" "" r
if (${1}) {
  ${0:${VISUAL}}
}
endsnippet

snippet "ife" "" r
if (${1}) {
  ${0:${VISUAL}}
} else {
  ${2}
}
endsnippet

snippet "sw(itch)?" "" r
switch(${1:action.type}) {
  case ${2}:
    ${3}
  default:
    return ${4:state};
}
endsnippet
