extends html

snippet import "" b
import ${1} from '${2}';
endsnippet

snippet "compo(nent)?" "" r
class ${1} extends React.Component {
  ${0:${VISUAL}}
}
endsnippet

snippet rc
constructor(props) {
  super(props);
}
endsnippet

snippet rr
render() {
  return (
    ${0:${VISUAL}}
  )
}
endsnippet

snippet < "" i
<${0} />
endsnippet
