extends html, ruby, ruby-rails, javascript

snippet c
\`\`\`${1:ruby}
${0:${VISUAL}}
\`\`\`
endsnippet

snippet l "" i
[${0:${VISUAL}}](${1})
endsnippet

snippet i "" i
_${0:${VISUAL}}_
endsnippet

snippet b "" i
**${0:${VISUAL}}**
endsnippet
