snippet before
before do
  ${0:${VISUAL}}
end
endsnippet

snippet cont
context $1 do
  ${0:${VISUAL}}
end
endsnippet

snippet desc
describe $1 do
  ${0:${VISUAL}}
end
endsnippet

snippet exp
expect($1).${2:to} $3
endsnippet

snippet it
it '$1' do
  ${0:${VISUAL}}
end
endsnippet

snippet itb
it { $1 }
endsnippet

snippet feat
feature $1 do
  ${0:${VISUAL}}
end
endsnippet

snippet let
let($1) $2
endsnippet

snippet scen
scenario '$1' do
  ${0:${VISUAL}}
end
endsnippet
