snippet anaf "" b
accepts_nested_attributes_for :${1:object}
endsnippet

snippet bt "" b
belongs_to :${1:association}
endsnippet

snippet habtm "" b
has_and_belongs_to_many :${1:object}
endsnippet

snippet hm "" b
has_many :${1:object}
endsnippet

snippet ho "" b
has_one :${1:object}
endsnippet

snippet pa "" b
params[:${1:id}]$2
endsnippet
