snippet test "test 'block' do" b
test "$1" do
  ${0:${VISUAL}}
end
endsnippet

snippet test-dumb "test dumb"
require "minitest/autorun"

class ${1:`!v user#snips#filename_camelized()`} < Minitest::Test
  def test_the_truth
    variable = 1
    assert_equal 1, variable
  end
end
endsnippet
